$primaryCyan: #17a2b8;

$clear-text : #FFF;
$dark-text : #343a40;

$dark : #343a40;
$medium : #6c757d;
$lightMedium : #f7f7f7;
$clear : #FFF;

$green : #8BC34A;
$lightGreen : lighten($green, 25%);
$deepGreen : darken($green, 25%);

$yellow : #FFC107;
$lightYellow : lighten($yellow, 25%);
$deepYellow : darken($yellow, 25%);

$orange : #FF9800;
$lightOrange : lighten($orange, 25%);
$deepOrange : darken($orange, 25%);

$red : #F44336;
$lightRed : lighten($red, 25%);
$deepRed : darken($red, 25%);


